.App {
  text-align: center;
  background-color: steelblue;
  height: 100vh;
}
p {
  font-weight: 800;
}
.answer-modal {
  overflow: overlay;
  height: 40%;
  padding: 5%;
  width: 60%;
  background-color: #2da2c2;
  color: white;
}
.quiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.quiz-modal {
  background-color: #61dafb;
  height: 60vh;
  width: 40vw;
  margin-top: 10%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-modal > img {
  border-radius: 50%;
}
.quiz-button {
  position: relative;
  height: 10%;
  background-color: rgb(19, 74, 146);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2%;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
